<html ng-app="restoApp">
<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script type="text/javascript" src="/assets/javascripts/wsSession.js"></script>
  <script type="text/javascript" src="/assets/javascripts/cashierService.js"></script>
  <script type="text/javascript" src="/assets/javascripts/cashierController.js"></script>
  <script type="text/javascript">
		
  var restoApp = angular.module('restoApp', ['ngMaterial']);

  restoApp
   	.constant('cashierWsUrl',"ws://localhost:9000/restos/1/cashiers/" + location.search.substring(1))
	.service('cashierService', ['$rootScope', '$timeout', 'cashierWsUrl', CashierService] )	
  	.controller('cashierController', ['$scope', 'cashierService', CashierController]);
  
		
  </script>

	
	<style type="text/css">
.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }	</style>
</head>

<body ng-controller="cashierController">



	<div layout="row">
		<div layout="column" flex="20">

		<md-list>
		  <md-subheader class="md-no-sticky">Mozos</md-subheader>
		  <md-list-item ng-repeat="(id, waiter) in waiters">
		    <p>{{waiter.user.name || waiter.user.id}}</p>
			  <md-switch ng-disabled="false" ng-model="waiter.isActive"></md-switch>
		  </md-list-item>
   	    <md-list/>
  
		</div>

		<div layout="row" flex="80" layout-wrap>

	<div ng-repeat="(id, table) in tables" layout="column">
			<md-toolbar>
			<div class="md-toolbar-tools">Mesa: {{id}} (Mozo: {{waiters[table.waiter.id].user.name}})</div>
		     <md-switch ng-model="table.isActive" ng-change="toggleTableServiceSession(table.table.number)"/>
			</md-toolbar>
			<md-content style="height: 300px;" md-theme="altTheme">
			<section>
				<md-list layout="column" layout-padding> 
				<md-list-item 
					ng-repeat="msg in table.messages track by $index"
					class="md-3-line"> 
				  <img ng-src="{{message.face}}" class="md-avatar" alt="{{msg.from}}">
				  <div class="md-list-item-text">
				  	{{msg.message}}
				  </div>
				</md-list-item>
				</md-list>
			</section>
			</md-content>


			<md-toolbar>
		      <div class="md-toolbar-tools">
				<div>
					<input type="text" ng-model="table.message">
					<button ng-click="send(id)">SEND!</button>
				</div>
		        <md-button class="md-icon-button" aria-label="Settings">
		          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="Favorite">
		          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
		        </md-button>
		        <md-button class="md-icon-button" aria-label="More">
		          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
		        </md-button>
		      </div>
		    </md-toolbar>

		</div>

		</div>
	
	</div>


<!-- 	<div layout="row"> -->
<!-- <ul> -->
<!-- 	<li> -->
<!-- 		Retrieve resto current info -->
<!-- 		<ul> -->
<!-- 			<li>Tables Info with assigned waiters and active table service session</li> -->
<!-- 			<li>Waiters with it's status</li> -->
<!-- 		</ul> -->
<!-- 	</li> -->
<!-- 	<li> -->
<!-- 		Listen for resto events: -->
<!-- 		<ul> -->
<!-- 			<li>Waiter session start</li> -->
<!-- 			<li>Waiter session end</li> -->
<!-- 			<li>Table service session start</li> -->
<!-- 			<li>Table service session messages</li> -->
<!-- 			<li>User(customer, waiter, cashier) join to table service </li> -->
<!-- 			<li>User(customer, waiter, cashier) User leave to table service </li> -->
<!-- 		</ul> -->
<!-- 	</li> -->
<!-- 	<li> -->
<!-- 		Send commands to: -->
<!-- 		<ul> -->
<!-- 			<li>Open table service session</li> -->
<!-- 			<li>Close table service session</li> -->
<!-- 			<li>Assign waiter to table</li> -->
<!-- 		</ul> -->
<!-- 	</li> -->
<!-- </ul> -->
	
	</div>

</body>
</html>